<div class="footer">
	<div class="footer-left">
		<a class="btn-filter btn-border btn-all btn-Isactive" href="javascript:void(0)" data-filter="all">All</a>
		<a class="btn-filter btn-active btn-border" href="javascript:void(0)" data-filter="active">Active</a>
		<a class="btn-filter btn-complete btn-border" href="javascript:void(0)" data-filter="completed">Completed</a>
	</div>
	<div class="footer-right">
		<a class="btn-filter btn-clear" href="javascript:void(0)">Clear
			completed</a>
	</div>
</div>
