<div class="task">
	<div class="task-content">
		<input class="task-toggle" type="checkbox" [checked]="todo.isComplete" [id]="todo.id"
			[ngClass]="{ checked: todo.isComplete }" (change)="changeTodoStatus()">
		<!-- <label [@fadeStrikeThrough]="todo.isComplete ? 'completed' : 'active' ">{{todo.name}}</label> -->
		<label>{{todo.name}}</label>
	</div>
	<div class="task-btn-group">
		<button class="btn-edit" [hidden]="todo.isComplete" (click)="isEditing = true">
			<i class="mdi mdi-lead-pencil"></i>
		</button>
		<button class="btn-destroy" (click)="deleteTodo()">
			<i class="mdi mdi-window-close"></i>
		</button>
	</div>

	<form action="" class="task-form" *ngIf="isEditing" (keyup)="submitEdit($event)">
		<input [(ngModel)]="todo.name" type="text" name="todoEdit" placeholder="Edit your task">
	</form>
</div>
